.badge {
				margin-left: 3px;
}

html {
				height: 100%;
}

body {
				background-color: #2590EB;
				height: 100%;
}

h1 {
				text-align: center;
				padding-top: 50px;
				color: white;
}

img {
				height: 150px;
				width: 150px;
				display: block;
				margin: 0 auto;
				text-align: center;
}

.wrapper {
				display: flex;
				align-items: center;
				justify-content: center;

				.file-upload {
								height: 200px;
								width: 200px;
								border-radius: 100px;
								position: relative;
								display: flex;
								justify-content: center;
								align-items: center;
								border: 4px solid #FFFFFF;
								overflow: hidden;
								background-image: linear-gradient(to bottom, #2590EB 50%, #FFFFFF 50%);
								background-size: 100% 200%;
								transition: all 1s;
								color: #FFFFFF;
								font-size: 100px;

								input[type='file'] {
												height: 200px;
												width: 200px;
												position: absolute;
												top: 0;
												left: 0;
												opacity: 0;
												cursor: pointer;
								}

								&:hover {
												background-position: 0 -100%;
												color: #2590EB;
								}
			}
}

.content{
    width: 50%;
    padding: 5px;
    margin: 0 auto;
}
.content span{
  	width: 250px;
}
.dz-message{
    text-align: center;
    font-size: 28px;
}
